{{ $recentArticles := .Site.Params.homepage.showRecentItems | default 5 }}
<section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
  {{ range $i, $page := first $recentArticles (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ if eq $i 0 }}
      <div class="relative sm:col-span-2 md:col-span-3">
        <span class="absolute z-10 top-2 left-2 px-2 py-0.5 rounded-md text-sm font-semibold bg-primary-500 text-white">{{ i18n "recent.latest" | default "Latest" }}</span>
        {{ partial "article-link/card.html" $page }}
      </div>
    {{ else }}
      {{ partial "article-link/card.html" $page }}
    {{ end }}
  {{ end }}
</section>