<link rel="preload" href="https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7SUc.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://fonts.gstatic.com/s/sora/v17/xMQ9uFFYT72X5wkB_18qmnndmSdSnh2BAfO5mnuyOo1lfiQwV6-x.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Sora:wght@600;700;800&display=swap"
  rel="stylesheet" fetchpriority="high">
<noscript><link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Sora:wght@600;700;800&display=swap"
  rel="stylesheet"></noscript>
<script>
  {{ $stamp := now.Unix }}
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("{{ "sw.js" | relURL }}?v={{ $stamp }}");
  }
</script>
{{ $a11yCanvas := resources.Get "js/a11y-canvas.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $a11yCanvas.RelPermalink }}" integrity="{{ $a11yCanvas.Data.Integrity }}" defer></script>