<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Sora:wght@600;700;800&display=swap"
  rel="stylesheet" media="print" onload="this.media='all'">
<noscript><link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Sora:wght@600;700;800&display=swap"
  rel="stylesheet"></noscript>
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("{{ "sw.js" | relURL }}");
  }
</script>
{{ $a11yCanvas := resources.Get "js/a11y-canvas.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $a11yCanvas.RelPermalink }}" integrity="{{ $a11yCanvas.Data.Integrity }}" defer></script>